.idea
Ollivanders/Ollivanders.iml
out
*.iml
lib

# Ignore third-party dependency plugins (paid/licensed plugins)
dependency-plugins

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
